@using MvcStok.Models.Entity
@model List<Table_musteri>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Musteri", FormMethod.Get))
            {
    <p>
        Aranacak Müşteri
    </p>
            }
<table class="table table-bordered">
    <tr>
        <th>Müşteri Id</th>
        <th>Müşteri Adı</th>
        <th>Müşteri Soyadı</th>
        <th>Sil</th>
        <th>Güncelle</th>
       
    </tr>
    <tbody>
        @foreach (var musteri in Model)
        {
            <tr>
                <th>@musteri.MusteriId</th>
                <td>@musteri.MusteriAd</td>
                <td>@musteri.müsterisoyad</td>
                <td><a href="/Musteri/Sil/@musteri.MusteriId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Musteri/MusteriGetir/@musteri.MusteriId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="/Musteri/YeniMusteri/" class="btn btn-primary">Yeni müşteri Ekle</a>

