@model MvcStok.Models.Entity.Table_kategori
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    @*<div>
            <lable> Kategori adı </lable>
            <input type="text" name="KategoriAd"
        </div>*@

    <div>
        <lable> Kategori adı </lable>
        @Html.TextBoxFor(m=>m.KategoriAd, new  { @class = "form-control"})
   @Html.ValidationMessageFor(m=> m.KategoriAd, "" ,new {@style="color:red"})
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Kategori Ekle</button>
    </div>
</form>

